.rtl {
  #page-content {

	 .post-navigation {
		.nav-links {

		  .nav-item {
			 width: 48%;

			 &.next {
				text-align: left;

				a {
				  padding-right: 50px;

				  div {
					 position: relative !important;
				  }

				  span {
					 position: relative;
					 margin-right: 50px;
				  }

				  span:before {
					 position: absolute;
					 content: '\f060';
					 right: 40px;
					 top: -10px;

				  }
				}
			 }

			 &.previous {
				text-align: right;

				a {

				  padding-left: 50px;

				  div {
					 position: relative !important;
				  }

				  span {
					 position: relative;
					 margin-left: 50px;
				  }

				  span:before {
					 position: absolute;
					 content: '\f061';
					 left: 40px;
					 top: -10px;

				  }
				}
			 }
		  }
		}

		@media screen and (max-width: 767px) {
		  .nav-item {
			 width: 100% !important;
			 margin: 10px;
		  }
		}
	 }
  }

  .entry-post-share .share-label {
	 margin: 0 0 0 28px;
  }

  #archives-dropdown-2 {
	 background-position: center left 20px !important;
  }

}


