.entry-course-info {
	.course-price,
	.course-meta > div {
		.meta-value {
			text-align: left;
		}
	}
}

.single-lp_course {
	.lp-single-course {
		.course-author {
			.author-avatar {
				margin: 0 0 0 50px;
			}

			.author-name {
				text-align: right;
			}
		}
	}

	.course-curriculum {
		ul.curriculum-sections {
			.section-content {
				.course-item {
					.section-item-link {
						padding: 0 48px 0 30px;
					}

					.course-item-meta {
						.course-item-status {
							&.trans {
								margin: 0 11px 0 0;
							}
						}
					}
				}
			}
		}
	}
}

body.rtl.single-lp_course.course-item-popup {
	#learn-press-course-curriculum .scroll-content.curriculum-scrollable {
		margin-right: 0 !important;
	}

	.course-curriculum {
		ul.curriculum-sections {
			.section-content {
				.course-item {
					.section-item-link {
						padding: 0 45px 0 20px;

						&:before {
							left: auto !important;
							right: 20px;
						}
					}
				}
			}
		}
	}

	.course-item-nav {
		.prev {
			a {
				padding-left: 20px;
				padding-right: 70px;

				&:before {
					left: auto;
					right: 20px;
					content: '\f105';

				}
			}
		}

		.next {
			text-align: left;

			a {
				padding-left: 70px;
				padding-right: 20px;

				&:before {
					right: auto;
					left: 20px;
					content: '\f104';
				}
			}
		}
	}
}
