.rtl {
	.billey-course {
		.course-meta {
			> div {
				margin-left: 28px;
				margin-right: 0;
			}

			.meta-icon {
				margin-left: 6px;
				margin-right: 0;
			}
		}
	}

	.course-caption-style-03 {
		.billey-course {
			.course-thumbnail-wrapper {
				margin: 0 0 0 30px;
			}
		}
	}
}
