.rtl {
  .elementor-widget-tm-pricing-table {
	 .billey-pricing{
		.billey-pricing-ribbon{
		  right: calc(100% - 80px) !important;
		}
	 }
	 .billey-pricing-features {
		.billey-icon {
			i{
			  margin-right: 0!important;
			  margin-left: 14px;
			}
		}
	 }
  }
}
