.single-tp_event {
	.entry-meta {
		.meta-icon {
			margin-left: 5px;
			margin-right: 0;
		}
	}

	.entry-event-info li .meta-value {
		text-align: left;
	}
}

.event_auth_form_field label {
	text-align: right;
	margin: 0 0 0 10px;
}

.event_auth_payment_methods {
	text-align: right;
}
