.rtl {
  .header-search-form {
	 .search-field {
		padding-left: 50px;
		padding-right: 20px;
	 }

	 .search-submit {
		left: 0;
		right: auto;
		border-radius: 5px 0 0 5px;
	 }
  }

  .page-open-components:hover {
	 .circle-one {
		transform: translateX(-18px);
	 }

	 .circle-three {
		transform: translateX(18px);
	 }
  }

  #menu-primary {
	 display: flex;
	 justify-content: center;
	 flex-direction: row-reverse;


	 .menu-item-wrap {
		display: flex;
		flex-direction: row-reverse;

		.toggle-sub-menu:before {
		  right: 5px;
		}
	 }

  }

  .header-04, .header-09  {
	 .page-open-main-menu {
		.burger-title {
		  margin: 0 12px 0 0;
		}
	 }
  }

}
